
@{
    ViewBag.Title = "Informational Kiosks";
}

<h2>Informational Kiosks</h2>

<ul class="list-group">
    <li class="list-group-item"><a href="@Url.Action("GenericInformationalKiosk", "Home", new { id = 1 })">Kiosk #1 - Put a brief summary about what is at Kiosk #1</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericInformationalKiosk", "Home", new { id = 2 })">Kiosk #2 - Put a brief summary about what is at Kiosk #2</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericInformationalKiosk", "Home", new { id = 3 })">Kiosk #3 - Put a brief summary about what is at Kiosk #3</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericInformationalKiosk", "Home", new { id = 4 })">Kiosk #4 - Put a brief summary about what is at Kiosk #4</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericInformationalKiosk", "Home", new { id = 5 })">Kiosk #5 - Put a brief summary about what is at Kiosk #5</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericInformationalKiosk", "Home", new { id = 6 })">Kiosk #6 - Put a brief summary about what is at Kiosk #6</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericInformationalKiosk", "Home", new { id = 7 })">Kiosk #7 - Put a brief summary about what is at Kiosk #7</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericInformationalKiosk", "Home", new { id = 8 })">Kiosk #8 - Put a brief summary about what is at Kiosk #8</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericInformationalKiosk", "Home", new { id = 9 })">Kiosk #9 - Put a brief summary about what is at Kiosk #9</a></li>
</ul>

