
@{
    ViewBag.Title = "Way Finding Signs";
}

<h2>Way Finding Signs</h2>

<ul class="list-group">
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 1 })">Way Findng Sign #1 - Put a brief summary about the way finding sign #1</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 2 })">Way Findng Sign #2 - Put a brief summary about the way finding sign #2</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 3 })">Way Findng Sign #3 - Put a brief summary about the way finding sign #3</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 4 })">Way Findng Sign #4 - Put a brief summary about the way finding sign #4</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 5 })">Way Findng Sign #5 - Put a brief summary about the way finding sign #5</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 6 })">Way Findng Sign #6 - Put a brief summary about the way finding sign #6</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 7 })">Way Findng Sign #7 - Put a brief summary about the way finding sign #7</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 8 })">Way Findng Sign #8 - Put a brief summary about the way finding sign #8</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 9 })">Way Findng Sign #9 - Put a brief summary about the way finding sign #9</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 10 })">Way Findng Sign #10 - Put a brief summary about the way finding sign #10</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 11 })">Way Findng Sign #11 - Put a brief summary about the way finding sign #11</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 12 })">Way Findng Sign #12 - Put a brief summary about the way finding sign #12</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 13 })">Way Findng Sign #13 - Put a brief summary about the way finding sign #13</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 14 })">Way Findng Sign #14 - Put a brief summary about the way finding sign #14</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 15 })">Way Findng Sign #15 - Put a brief summary about the way finding sign #15</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 16 })">Way Findng Sign #16 - Put a brief summary about the way finding sign #16</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 17 })">Way Findng Sign #17 - Put a brief summary about the way finding sign #17</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 18 })">Way Findng Sign #18 - Put a brief summary about the way finding sign #18</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 19 })">Way Findng Sign #19 - Put a brief summary about the way finding sign #19</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 20 })">Way Findng Sign #20 - Put a brief summary about the way finding sign #20</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 21 })">Way Findng Sign #21 - Put a brief summary about the way finding sign #21</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 22 })">Way Findng Sign #22 - Put a brief summary about the way finding sign #22</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 23 })">Way Findng Sign #23 - Put a brief summary about the way finding sign #23</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 24 })">Way Findng Sign #24 - Put a brief summary about the way finding sign #24</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 25 })">Way Findng Sign #25 - Put a brief summary about the way finding sign #25</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 26 })">Way Findng Sign #26 - Put a brief summary about the way finding sign #26</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 27 })">Way Findng Sign #27 - Put a brief summary about the way finding sign #27</a></li>
    <li class="list-group-item"><a href="@Url.Action("GenericWayFindingSign", "Home", new { id = 28 })">Way Findng Sign #28 - Put a brief summary about the way finding sign #28</a></li>
 
</ul>


